[Desktop Entry]
Encoding=UTF-8
Name=canadacoin
Comment=canadacoin P2P Cryptocurrency
Comment[fr]=canadacoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=canadacoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/canadacoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/canadacoin128.png
MimeType=x-scheme-handler/canadacoin;
Categories=Office;
