#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_canadacoin
#build/canadacoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_canadacoin)

DEB_INSTALL_EXAMPLES_canadacoind += debian/examples/*
DEB_INSTALL_MANPAGES_canadacoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix canadacoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f canadacoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake canadacoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_canadacoin
	src/test_canadacoin

# Ensure wrapper is set executable
binary-post-install/canadacoind:
	chmod +x $(cdbs_curdestdir)usr/bin/canadacoind
binary-post-install/canadacoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/canadacoin-qt
